USE [master]
GO
/****** Object:  Database [BERK]    Script Date: 11.07.2025 09:52:16 ******/
CREATE DATABASE [BERK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BERK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERST\MSSQL\DATA\BERK.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BERK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERST\MSSQL\DATA\BERK_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BERK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BERK]
GO
/****** Object:  Table [dbo].[Adisyon]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Adisyon](
	[AdisyonID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[MasaID] [int] NOT NULL,
	[MasaAcilis] [datetime] NOT NULL,
	[MasaKapanis] [datetime] NOT NULL,
	[Durum] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdisyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AdisyonHareketleri]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdisyonHareketleri](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[AdisyonID] [int] NOT NULL,
	[UrunID] [int] NULL,
	[Miktar] [int] NOT NULL,
	[Fiyat] [money] NULL,
	[EklenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IrsaliyeHareket]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IrsaliyeHareket](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[IrsaliyeNo] [varchar](50) NOT NULL,
	[UrunID] [int] NOT NULL,
	[Zaman] [datetime] NULL DEFAULT (getdate()),
	[TeslimAlanKullanici] [varchar](50) NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [money] NULL,
	[CariKodu] [varchar](50) NULL,
	[CariAdi] [varchar](150) NULL,
	[ToplamTutar] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KullaniciGiris]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KullaniciGiris](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[KullaniciAdi] [varchar](50) NOT NULL,
	[Rol] [varchar](50) NULL,
	[GirisZamani] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](50) NULL,
	[Sifre] [varchar](50) NULL,
	[Rol] [varchar](10) NULL DEFAULT ('Garson'),
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Masalar]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Masalar](
	[MasaID] [int] NOT NULL,
	[MasaAdi] [varchar](7) NOT NULL,
	[Durum] [varchar](15) NOT NULL DEFAULT ('Bos'),
PRIMARY KEY CLUSTERED 
(
	[MasaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MasaAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[OturduguMasaID] [int] NOT NULL,
	[OturduguMasa] [varchar](7) NULL,
	[OturduguZaman] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OturduguZaman] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Odemeler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Miktar] [money] NULL,
	[OdemeTuru] [varchar](20) NULL,
	[AdisyonID] [int] NULL,
	[Tarih] [datetime] NULL DEFAULT (getdate()),
	[ParaUstu] [money] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StokHareketleri]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StokHareketleri](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[UrunAdi] [varchar](50) NOT NULL,
	[OncekiStok] [int] NOT NULL,
	[GuncelStok] [int] NOT NULL,
	[GuncelleyenKullanici] [varchar](50) NOT NULL,
	[Tarih] [datetime] NULL DEFAULT (getdate()),
	[GuncellemeSebebi] [varchar](150) NULL DEFAULT ('Adisyona Eklendi'),
PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UrunHareketleri]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UrunHareketleri](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[UrunAdi] [varchar](30) NULL,
	[Stok] [int] NULL CONSTRAINT [DF_UrunHareketleri_Stok]  DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 11.07.2025 09:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [varchar](30) NOT NULL,
	[Fiyat] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Adisyon] ADD  DEFAULT (getdate()) FOR [MasaKapanis]
GO
ALTER TABLE [dbo].[Adisyon] ADD  DEFAULT ('Acik') FOR [Durum]
GO
ALTER TABLE [dbo].[AdisyonHareketleri] ADD  DEFAULT ((1)) FOR [Miktar]
GO
ALTER TABLE [dbo].[AdisyonHareketleri] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT (getdate()) FOR [OturduguZaman]
GO
ALTER TABLE [dbo].[Adisyon]  WITH CHECK ADD FOREIGN KEY([MasaID])
REFERENCES [dbo].[Masalar] ([MasaID])
GO
ALTER TABLE [dbo].[Adisyon]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Adisyon]  WITH CHECK ADD  CONSTRAINT [FK_Adisyon_MasaAcilis] FOREIGN KEY([MasaAcilis])
REFERENCES [dbo].[Musteriler] ([OturduguZaman])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adisyon] CHECK CONSTRAINT [FK_Adisyon_MasaAcilis]
GO
ALTER TABLE [dbo].[AdisyonHareketleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[AdisyonHareketleri]  WITH CHECK ADD  CONSTRAINT [FK_AdisyonHareketleri_Adisyon] FOREIGN KEY([AdisyonID])
REFERENCES [dbo].[Adisyon] ([AdisyonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdisyonHareketleri] CHECK CONSTRAINT [FK_AdisyonHareketleri_Adisyon]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD FOREIGN KEY([OturduguMasaID])
REFERENCES [dbo].[Masalar] ([MasaID])
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Masalar] FOREIGN KEY([OturduguMasa])
REFERENCES [dbo].[Masalar] ([MasaAdi])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Masalar]
GO
ALTER TABLE [dbo].[UrunHareketleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Adisyon]  WITH CHECK ADD  CONSTRAINT [CHCKDurum] CHECK  (([Durum]='Kapali' OR [Durum]='Acik'))
GO
ALTER TABLE [dbo].[Adisyon] CHECK CONSTRAINT [CHCKDurum]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [CHCKRol] CHECK  (([Rol]='Yonetici' OR [Rol]='Garson'))
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [CHCKRol]
GO
ALTER TABLE [dbo].[Masalar]  WITH CHECK ADD  CONSTRAINT [CHK_MasaDurum] CHECK  (([Durum]='Rezerve' OR [Durum]='Dolu' OR [Durum]='Bos'))
GO
ALTER TABLE [dbo].[Masalar] CHECK CONSTRAINT [CHK_MasaDurum]
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD  CONSTRAINT [CHCKOdeme_Turu] CHECK  (([OdemeTuru]='Kredi Karti' OR [OdemeTuru]='Nakit'))
GO
ALTER TABLE [dbo].[Odemeler] CHECK CONSTRAINT [CHCKOdeme_Turu]
GO
USE [master]
GO
